.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    width: 300px;
    padding-block: 2rem;
    margin-block: 5rem;
    background-color: #f0efef;
}
.login-form button {
    font-size: 18px;
    font-weight: 600;
}
.username-input, .password-input {
    margin-block: 1rem;
    font-weight: 600;
    font-size: 20px;
}
.username-input input, .password-input input {
    margin-block: 0.4rem;
    border: none;
    font-size: 18px !important;
}
.username-input input:focus, .password-input input:focus {
    outline: none;
}